@import 'feuer/mixin/stroke';

@mixin heading($color, $stroke-color, $thickness: 2px) {
  text-transform: uppercase;
  text-decoration: none;
  color: $color;
  font-weight: bold;

  @include stroke($thickness, $stroke-color);
}
