$bg: rgb(219, 87, 38);
$bg-alt: rgb(239, 189, 90);

$fg: rgb(25, 25, 25);

$page-title-color: #1a1919;
$page-title-stroke-color: #b23d77;

$lila-neon: rgb(255, 164, 244);
$amarelo: rgb(248, 252, 4);
$blau: rgb(95, 208, 250);
$green: rgb(64, 255, 128);
