$bg: rgb(219, 87, 38);
$bg-alt: rgb(239, 189, 90);

$fg: rgb(25, 25, 25);

$page-title-color: #1a1919;
$page-title-stroke-color: #b23d77;

$lila-neon: rgb(228, 145, 229);
$amarelo: rgb(238, 233, 70);
$blau: rgb(107, 195, 244);
$green: rgb(104, 230, 123);
