body {
  font-family: $font-stack-system;
}

h2 {
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 1.3em;
  }
}
